  /* This div style is for roll20 styling only */

  @import url('https://fonts.googleapis.com/css?family=Italiana&display=swap');
  
  body {
    /*font-family: 'Silkscreen';*/
    font-family: 'Italiana';
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    /*font-weight: 700;*/
    color: #ffffff;
  }
  div.charsheet {
    background-image: url("https://cdn.discordapp.com/attachments/941222037899317249/1013296582931779665/char_sheet_blank.png");
    width: 875px;
    height: 1080px;
  }


  div {
    position: relative;
  }

/* begin main sheet styles */

.charsheet {
    
    /*background-size: 900px 1000px; (/
    /* light-brown parchment texture */
    /* background-color: #d19e3e;
    /* light-brown color as fallback, if image doesn't show. 
    background-repeat: repeat;
    color: white; */

    
  }

  div.class_metadata {
    display: flex;
    height: 100px;
    padding-top: 75px;
    padding-left: 25px;
  }

  div.character_name {
    flex: 37%;
    padding-top: 30px;
  }

  div.class_specifics {
    flex: 63%;
  }

  input#character_name {
    height: 30px;
    width: 225px;
  }

  input[type="text"], textarea {
    background-color: #1f1f1f;
  }

  input#class_specifics {
    height: 15px;
  }

  form {
    margin: 0px;
  }

  input[name="class"] {
    margin-top: 12px;
    margin-left: 55px;
    width: 60px;
  }

  input[name="subclass"] {
    margin-top: 12px;
    margin-left: 80px;
    width: 160px;
  }

  input[name="level"] {
    margin-top: 12px;
    margin-left: 60px;
    width: 35px;
  }

  input[name="race"] {
    margin-top: 15px;
    margin-left: 53px;
    width: 160px;
  }

  input[name="subrace"] {
    margin-top: 10px;
    margin-left: 90px;
    width: 175px;
  }

  input[name="alignment"] {
    margin-top: 15px;
    margin-left: 300px;
    width: 175px;
  }


  div.combat_sheet {
    display: grid;
    height: 700px;

    grid-template-columns: 115px 230px 250px 260px;
  }

  div.attribute_column {
    padding-top: 50px;
  }

  div.col2 {
  }

  div.col3 {
  }

  div.col4 {
  }

  div.attribute {
    height: 115px;
  }

  input#class_attribute {
    height: 30px;
    width: 60px;
    margin-top: 35px;
    margin-left: 20px;
  }

  input#class_save_dc {
    height: 15px;
    width: 70px;
    margin-left: 50px;
    margin-top: 10px;
  }

  div.luck_points {
    height: 90px;
  }

  div.proficiency_bonus {
    height: 65px;
  }

  div.saving_throws {
    height: 200px;
    width: 75px;
    margin-left: 5px;
    margin-top: 40px;
  }
  div.strength_saving_throw {
    margin-bottom: 6px;
  }

  div.combat_maneuvers {
    height: 180px;
  }

  div.resources {
    height: 90px;
  }

  input#luck {
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-left: 3px;
  }

  input#proficiency {
    height: 30px;
    width: 35px;
    margin-top: 20px;
    margin-left: 8px;
  }




  div.init_per_evade {
    display: flex;
    height: 105px;
  }

  div.initiative {
    flex: 33%;
  }

  div.perception {
    flex: 33%;
  }

  div.evasion {
    flex: 33%;
  }


  
  input#init_per_evade {
    height: 15px;
    width: 20px;
    margin-top: 50px;
    margin-left: 30px;
  }

  div.hitpoints {
    display: flex;
    height: 95px;
  }

  div.current {
    flex: 50%;
  }

  div.maximum {
    flex: 50%;
  }

  input#hitpoints {
    width: 30px;
    margin-top: 40px;
    margin-left: 20px;
  }

  div.movespeed {
    display: grid;
    height: 75px;

    grid-template-columns: 70px 70px 70px 70px;
  }

  input#movespeed {
    height: 15px;
    width: 20px;
    margin-top: 30px;
    margin-left: 20px;
  }


  div.armor_shield_attributes {
    display: grid;
    height: 53px;

    grid-template-columns: 130px 130px;
  }

  div.armor_attributes {
    display: grid;
    height: 20px;

    grid-template-columns: 43px 43px 44px;
  }


  div.shield_attributes {
    display: grid;
    height: 20px;

    grid-template-columns: 43px 43px 44px;
  }

  input#armor_shield_attributes {
    width: 30px;
    height: 15px;
    margin-top: 35px;
    margin-left: 10px;
  }

  div.armor_shield_type {
    display: grid;
    height: 20px;

    grid-template-columns: 130px 130px;
  }

  input#armor_shield_type {
    height: 15px;
    width: 30px;
    margin-left: 50px;
  }

  div.attacks_spells {
    height: 200px;
  }

  
  div.items {
    height: 200px;
  }

  div.wounds {
    /* background-color: #92a8d1; */
    border-style: outset inset inset outset;
    border-color: grey;
    border-radius: 10px;

  }

  div.persistent_conditions {
    height: 200px;
  }

  div.features_traits {
    height: 200px;
  }

  div.two_column_div {
    display: grid;

    grid-template-columns: 50% 50%;
  }

  div.three_column_div {
    display: grid;

    grid-template-columns: 33% 33% 33%
  }

  div.wound_type {
    padding-left: 15px;
  }

  div.recovery_div {
    padding-left: 15px;
  }

  select.wound_type {
    width: 100px;
  }

  input.recovery {
    width: 100px;
  }

  .center_text {
    text-align: center;
  }

  div.no_prof {
    background-image: url("https://cdn.discordapp.com/attachments/941222037899317249/1013325192405188748/empty_box.png");
    
  }

  div.half_prof {
    background-image: url("https://cdn.discordapp.com/attachments/941222037899317249/1013325192078036992/half_box.png");
    
  }

  div.full_prof {
    background-image: url("https://cdn.discordapp.com/attachments/941222037899317249/1013325191708942396/full_box.png");
    
  }