  /* This div style is for roll20 styling only */

  @import url('https://fonts.googleapis.com/css?family=Italiana&display=swap');
  
  body {
    /*font-family: 'Silkscreen';*/
    font-family: 'Italiana';
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    /*font-weight: 700;*/
    color: #ffffff;
  }
  div.charsheet {
    background-image: url("https://cdn.discordapp.com/attachments/941222037899317249/1013296582931779665/char_sheet_blank.png");
    width: 875px;
    height: 1080px;
  }


  div {
    position: relative;
  }

/* begin main sheet styles */

.charsheet {
    
    /*background-size: 900px 1000px; (/
    /* light-brown parchment texture */
    /* background-color: #d19e3e;
    /* light-brown color as fallback, if image doesn't show. 
    background-repeat: repeat;
    color: white; */

    
  }

  .repcontrol[data-groupname="repeating_wounds"] > button.repcontrol_add
  {
    /*opacity: 0;*/
    background: url('https://cdn.discordapp.com/attachments/941222037899317249/1012557224230518814/plus.png');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    font-size: 0;
    padding: 0px;
    border: none;
    box-shadow: inset 0 0px 0;
    margin-left: 15px;
    margin-top: 10px;
  }

  .repcontrol[data-groupname="repeating_wounds"] > button.repcontrol_edit
  {
    /*opacity: 0;*/
    background: url('https://cdn.discordapp.com/attachments/941222037899317249/1012556580773965905/lock.png');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    font-size: 0;
    padding: 0px;
    border: none;
    box-shadow: inset 0 0px 0;
    margin-right: 15px;
    margin-top: 10px;
  }

  .repcontrol[data-groupname="repeating_persistent_conditions"] > button.repcontrol_add
  {
    /*opacity: 0;*/
    background: url('https://cdn.discordapp.com/attachments/941222037899317249/1012557224230518814/plus.png');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    font-size: 0;
    padding: 0px;
    border: none;
    box-shadow: inset 0 0px 0;
    margin-left: 15px;
    margin-top: 10px;
  }

  .repcontrol[data-groupname="repeating_persistent_conditions"] > button.repcontrol_edit
  {
    /*opacity: 0;*/
    background: url('https://cdn.discordapp.com/attachments/941222037899317249/1012556580773965905/lock.png');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    font-size: 0;
    padding: 0px;
    border: none;
    box-shadow: inset 0 0px 0;
    margin-right: 15px;
    margin-top: 10px;
  }

  .repcontrol[data-groupname="repeating_resources"] > button.repcontrol_add
  {
    /*opacity: 0;*/
    background: url('https://cdn.discordapp.com/attachments/941222037899317249/1012557224230518814/plus.png');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    font-size: 0;
    padding: 0px;
    border: none;
    box-shadow: inset 0 0px 0;
    margin-left: 15px;
    margin-top: 10px;
  }

  .repcontrol[data-groupname="repeating_resources"] > button.repcontrol_edit
  {
    /*opacity: 0;*/
    background: url('https://cdn.discordapp.com/attachments/941222037899317249/1012556580773965905/lock.png');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    font-size: 0;
    padding: 0px;
    border: none;
    box-shadow: inset 0 0px 0;
    margin-right: 15px;
    margin-top: 10px;
  }

  div.class_metadata {
    display: flex;
    height: 100px;
    padding-top: 75px;
    padding-left: 25px;
  }

  div.character_name {
    flex: 37%;
    padding-top: 30px;
  }

  div.class_specifics {
    flex: 63%;
  }

  input#character_name {
    height: 30px;
    width: 225px;
  }

  input[type="text"], textarea {
    background-color: #1f1f1f;
    color: #FFFFFF
  }

  select {
    background-color: #1f1f1f;
    color: #FFFFFF
  }



  input#class_specifics {
    height: 15px;
  }

  form {
    margin: 0px;
  }

  input[name="class"] {
    margin-top: 12px;
    margin-left: 55px;
    width: 60px;
  }

  input[name="subclass"] {
    margin-top: 12px;
    margin-left: 80px;
    width: 160px;
  }

  input[name="level"] {
    margin-top: 12px;
    margin-left: 60px;
    width: 35px;
  }

  input[name="race"] {
    margin-top: 15px;
    margin-left: 53px;
    width: 160px;
  }

  input[name="subrace"] {
    margin-top: 10px;
    margin-left: 90px;
    width: 175px;
  }

  input[name="alignment"] {
    margin-top: 15px;
    margin-left: 300px;
    width: 175px;
  }

  input#hitpoints_reductions {
    height: 18px;
  }

  input[name="hitpoints_reductions"] {
    margin-top: 19px;
    margin-left: 70px;
    
    width: 50px;
  }
  input[name="walk"] {
    margin-left: 15px;
    
    width: 50px;
  }
  input[name="climb"] {
    margin-left: 10px;
    
    width: 50px;
  }
  input[name="swim"] {
    margin-left: 8px;
    
    width: 50px;
  }
  input[name="fly"] {
    margin-left: 3px;
    
    width: 50px;
  }

  input[name="max_resistance"] {
    margin-left: 15px;
    
    width: 13px;
  }

  input[name="current_resistance"] {
    margin-left: 3px;
    
    width: 33px;
  }

  input[name="tallies_resistance"] {
    margin-left: 3px;
    
    width: 47px;
  }

  input[name="parry"] {
    margin-left: 3px;
    
    width: 30px;
  }

  input[name="block"] {
    margin-left: 3px;
    
    width: 33px;
  }

  input[name="tallies_shield"] {
    margin-left: 3px;
    
    width: 35px;
  }


  div.combat_sheet {
    display: grid;
    height: 700px;

    grid-template-columns: 115px 230px 260px 270px;
  }

  div.attribute_column {
    padding-top: 50px;
  }

  div.col2 {
  }

  div.col3 {
  }

  div.col4 {
  }

  div.attribute {
    height: 115px;
  }

  input#class_attribute {
    height: 30px;
    width: 60px;
    margin-top: 35px;
    margin-left: 20px;
  }

  input#class_save_dc {
    height: 15px;
    width: 70px;
    margin-left: 50px;
    margin-top: 10px;
  }

  div.luck_points {
    height: 90px;
  }

  div.proficiency_bonus {
    height: 65px;
  }

  div.saving_throws {
    height: 200px;
    width: 75px;
    margin-left: 5px;
    margin-top: 40px;
  }
  div.strength_saving_throw {
    margin-bottom: 6px;
  }

  div.combat_maneuvers {
    height: 180px;
  }

  input#luck {
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-left: 3px;
  }

  input#proficiency {
    height: 30px;
    width: 35px;
    margin-top: 20px;
    margin-left: 8px;
  }




  div.init_per_evade {
    display: flex;
    height: 105px;
  }

  div.initiative {
    flex: 33%;
  }

  div.perception {
    flex: 33%;
  }

  div.evasion {
    flex: 33%;
  }


  
  input#init_per_evade {
    height: 40px;
    width: 60px;
    margin-top: 65px;
    margin-left: 20px;
  }

  div.hitpoints {
    display: flex;
    height: 125px;
  }

  div.current {
    flex: 50%;
  }

  div.maximum {
    flex: 50%;
  }

  input#hitpoints {
    width: 100px;
    margin-top: 55px;
    margin-left: 20px;
  }

  div.movespeed {
    display: grid;
    height: 75px;

    grid-template-columns: 66px 66px 66px 66px;
  }

  input#movespeed {
    height: 25px;
    width: 50px;
    margin-top: 50px;
  }


  div.armor_shield_attributes {
    display: grid;
    height: 10px;

    margin-top: 60px;
    grid-template-columns: 140px 130px;
  }

  div.armor_attributes {
    display: grid;
    height: 20px;

    grid-template-columns: 30px 40px 44px;
  }


  div.shield_attributes {
    display: grid;
    height: 20px;

    grid-template-columns: 35px 40px 44px;
  }

  input#armor_shield_attributes {
    height: 15px;
  }

  div.armor_shield_type {
    display: grid;

    grid-template-columns: 130px 130px;
  }

  input#armor_shield_type {
    height: 10px;
    width: 80px;
    margin-left: 40px;
    margin-top: 10px;
  }

  div.attacks_spells {
    height: 200px;
  }

  
  div.items {
    height: 200px;
  }

  div.wounds {
    /* background-color: #92a8d1; */
    border-style: outset inset inset outset;
    border-color: grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 5px;
  }

  div.persistent_conditions {
    border-style: outset inset inset outset;
    border-color: grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 5px;
  }

  div.resources {
    border-style: outset inset inset outset;
    border-color: grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 5px;
  }

  div.features_traits {
    height: 200px;
  }

  div.two_column_div {
    display: grid;

    grid-template-columns: 50% 50%;
  }

  div.three_column_div {
    display: grid;

    grid-template-columns: 33% 33% 33%
  }

  div.wound_type {
    padding-left: 15px;
    padding-top: 5px;
  }

  input.wound_type {
    width: 100px;
  }

  div.persistent_condition_type {
    padding-left: 15px;
    padding-top: 5px;
  }

  input.persistent_condition_type {
    width: 100px;
  }


  div.recovery_div {
    padding-left: 15px;
    padding-top: 5px;
  }

  div.recurrence_interval_div {
    padding-left: 15px;
    padding-top: 5px;
  }

  

  input.recovery {
    width: 100px;
  }

  input[type="text"].resource_input_box {
    width: 100px;
    height: 35px;
    margin-left: 10px;
    margin-top: 10px;
  }



  input.recurrence_interval {
    width: 100px;
  }

  .center_text {
    text-align: center;
  }

  div.no_prof {
    background-image: url("https://cdn.discordapp.com/attachments/941222037899317249/1013325192405188748/empty_box.png");
    
  }

  div.half_prof {
    background-image: url("https://cdn.discordapp.com/attachments/941222037899317249/1013325192078036992/half_box.png");
    
  }

  div.full_prof {
    background-image: url("https://cdn.discordapp.com/attachments/941222037899317249/1013325191708942396/full_box.png");
    
  }

  div.resources_box {
    background-image: url("https://cdn.discordapp.com/attachments/1013705882103709706/1014001852561506394/class_resource-cropped.png");
    width: 249px;
    height: 69px;
  }